<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inc.sguard.android.com.sguardinc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AtionBar">
        <activity
            android:name=".AdminViewProfileGuard"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".AdminPrices"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".AdminProfileEdit"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".SuspendedGuard"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".AdminGuardGallery"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".AdminHome"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".AdminRegistration"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".Guard_Verification"
            android:theme="@style/NoAtionBar" />
        <activity android:name=".UserChat.ConfirmationActivity" />
        <activity
            android:name=".UserChat.GuardChat"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/NoAtionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LetsGo"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".LoginOrSignup"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".UserLogin"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".Adminlogin"
            android:theme="@style/NoAtionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuardLogin"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".Registration"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".UserHome"
            android:label="@string/title_activity_home"
            android:theme="@style/AtionBar.NoActionBar" />
        <activity
            android:name=".GuardHome"
            android:label="@string/title_activity_guard_home"
            android:theme="@style/AtionBar.NoActionBar" />
        <activity
            android:name=".GuardCurrentOrder"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".GuardPreviousOrder"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".OurMission"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".JobRequirement"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".JobDescription"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".HowItWorks"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".UserCurrentOrder"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".UserPreviousOrder"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".UserBookOrder"
            android:theme="@style/NoAtionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".UserPickUpLocation"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".OurMissionGuard"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".JobRequirementGuard"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".JobDescriptionGuard"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".HowItWorksGuard"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".UserProfileEdit"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".GuardProfileEdit"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".UserChat.chat"
            android:theme="@style/NoAtionBar" />
        <activity
            android:name=".UserChat.AdminChat"
            android:theme="@style/NoAtionBar" />
        <activity android:name=".UserChatWithAdmin" />
        <activity android:name=".MessageActivity"
            android:theme="@style/NoAtionBar"></activity>
    </application>

</manifest>